*.mp4
backup/*
*.weights
*.idea/
.idea/*
*.vscode/
.vscode/*
*.xml
**.xml
*.des
*.png
**/__pycache__/
__pycache__/
*__pycache__/
*.pyc
*.swp
**.pyc
api/__pycache__/basevideo.cpython-36.pyc
detection/utils/__pycache__/*
api/__pycache__/*
api/__pycache__/basevideo.cpython-36.pyc
*.jpg
nohup.out
*.out
data/logo/
data/logs/
data/ocr/characters
data/ocr/unlabeled
data/search/training_data/team_links_with_previous
data/ocr/
data/search/training_data/team_links_with_previous
*.db
**.index
data/search/training_data/*
*.log
**.log
front/static/images/logos/
front/static/images/logos/*
testing/*
data/backup/*
utils/ocr/models/

