body {
	background-image:url('../images/sitebg.png');
    height:100vh;
	font-family:'Poppins';
}

.navbar {
    border-bottom: 1px solid #4e4e4e;
    background-color: transparent;
}

.navbar-brand {
color:#C8A57F !important;
}

.navbar-brand .fas {
	transform:rotate(-70deg);
	color:#9AA079;
}

.navbar-nav > li {
    position: relative;
    margin-left:0.5em;
}

.navbar-nav > li a {
    color:white !important;
    font-weight: bold;
}

.navbar-nav .active a{
    color:#c8a57f !important;
}

@media only screen and (min-width:576px) {
    .navbar-nav .active::after {
        border-bottom: 2px solid #c8a57f;
        bottom: -0.7rem;
        content: " ";
        left: 0;
        position: absolute;
        right: 0;
    }
}

/**/


h1 {
    color:#e0d7c2;
    font-size:2rem;
    margin-bottom:2rem;
}

h3 {
    color:#e0d7c2;
    font-size:1rem;
}

#contactinfo {
    background-color:#393a39;
    border-radius: 10px;
    height:100%;
}

.infobit {
    position:relative;
    margin: 2rem 0;
}

.infobit .icon {
    width:54px;
    height:54px;
    text-align:center;
    font-weight: bold;
    color:white;
    line-height:54px;
    border-radius: 5px;
    background-color: #2f302f;
    position:absolute;
    left:0px;
    transition: background-color 0.2s ease;
}

.infobit .wrapper {
    padding-left:75px;
    font-size:16px;
}

.infobit .wrapper .type {
    color: #a09c95;
}

.infobit .wrapper .text {
    color:white;
}

.infobit .wrapper .text a {
    color:white;
}

#map {
    width:100%; 
    height:250px;
    border-radius:10px;
}

#send {
  padding: 0.8rem 2rem;
  font-size:14px;
  margin-bottom:2rem;
}

/* ------------------------  */

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: white;}
input:-moz-placeholder { color: white;}
input::-moz-placeholder { color: white;}
input:-ms-input-placeholder { color: white;}

textarea::-webkit-input-placeholder { color: white;}
textarea:-moz-placeholder { color: white;}
textarea::-moz-placeholder { color: white;}
textarea:-ms-input-placeholder { color: white;}


/*------------------------------------------------------------------
[ Form ]*/

.contact100-form {
    width: 100%;
  }
  
  .contact100-form-title {
    display: block;
    font-weight: bold;
    font-size: 39px;
    color: white;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
  }
  
  
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
  .wrap-input100 {
    width: 45%;
    position: relative;
    border-bottom: 2px solid #4e4e4e;
    margin-bottom: 24px;
    display: inline-block;
    margin-right:4%;
  }
  
  .label-input100 {
    font-size: 13px;
    color: white;
    line-height: 1.5;
    padding-left: 5px;
    text-transform: uppercase;
  }
  
  .input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 14px;
    color: white;
    line-height: 1.2;
    padding: 0 5px;
  }
  
  .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: #d9d9d9;
  }
  
  
  /*---------------------------------------------*/
  input.input100 {
    height: 40px;
  }
  
  
  textarea.input100 {
    min-height: 110px;
    padding-top: 9px;
    padding-bottom: 13px;
  }
  
  
  .input100:focus + .focus-input100::before {
    width: 100%;
  }
  
  .has-val.input100 + .focus-input100::before {
    width: 100%;
  }
  
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
  }
  
  .wrap-contact100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .contact100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #857D70;
    background: -webkit-linear-gradient(left, #857D70, #9AA079, #857D70, #9AA079);
    background: -o-linear-gradient(left, #857D70, #9AA079, #857D70, #9AA079);
    background: -moz-linear-gradient(left, #857D70, #9AA079, #857D70, #9AA079);
    background: linear-gradient(left, #857D70, #9AA079, #857D70, #9AA079);
    top: 0;
    left: -100%;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;

    font-size: 16px;
    color: #fff;
    line-height: 1.2;
  }
  
  .wrap-contact100-form-btn:hover .contact100-form-bgbtn {
    left: 0;
  }
  
  .contact100-form-btn i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .contact100-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }


  @media (max-width: 700px) {
    .wrap-input100 {
      width:100% !important;
    }
  }

  /*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 10px;
  padding: 4px 25px 4px 10px;
  top: 58%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: "Font Awesome 5 Free";
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  font-weight:900;
  top: 58%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 700px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}